@font-face {
    font-family: 'segoeui';
    src: url('segoeui.ttf');
}

@font-face {
    font-family: 'segoeuib';
    src: url('segoeuib.ttf');
}

@font-face {
    font-family: 'segoeuii';
    src: url('segoeuii.ttf');
}

@font-face {
    font-family: 'segoeuil';
    src: url('segoeuil.ttf');
}

@font-face {
    font-family: 'segoeuiz';
    src: url('segoeuiz.ttf');
}

@font-face {
    font-family: 'segoeuisb';
    src: url('segoeuisb.ttf');
}


