.opacity__wrapper.devider
     h3.info__text.info__text-opacity
        .lang-ru Прозрачность
        .lang-en Transparency
     .opacity__slider#slider
     .opacity__button.lang-ru
        input(type="reset" value="Сброс").opacity__button-input.opacity__button-input-res
        button.opacity__button-input.opacity__button-input-load(download="watermark.png") Скачать
     .opacity__button.lang-en
        input(type="reset" value="Reset").opacity__button-input.opacity__button-input-res
        button.opacity__button-input.opacity__button-input-load(download="watermark.png") Download
