.sidebar{
      position: fixed;
      top:102px;
   }
 .sidebar-lang{
      width: 43px;
      margin-bottom: 20px;
 }
 .sidebar-lang__rus{
      margin-bottom: 1px;
 }
 .sidebar-lang__rus, .sidebar-lang__eng{
      width: 44px;
      height: 34px;
      box-sizing: border-box;
      background-color: rgba(255,255,255,0.7);
      padding: 4px 0 0;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      &:active {
        background-color: #B8B2B3;
      }
      &:focus {
        outline: none;
      }
 }

 .sidebar-lang__link {
      font: 20px 'segoeuil';
      color: #999ca1;
       &:hover {
        color: #444a53;
      }
       &:active {
        color: #fff;
      }
      &:focus {
        outline: none;
      }
}

.active-lang {
   background-color: #B8B2B3;
   color: #fff;

   .sidebar-lang__link {
      color: #fff;
   }
}

.sidebar-social__like {
    width: 43px;
    height: 43px;
    background-color: rgba(255,255,255,0.7);
    background-image: url(../img/social.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0 -55px;
	cursor: pointer;
	margin-left: -1px;
 
     &:hover {
       background-position: -36px -55px;
     }
     &:active {
       background-position: -36px -55px;
     }
     &:focus {
       outline: none;
     }
 }
.sidebar-social {
     min-width: 86px;
 }
.sidebar-social__list {
     width: 43px;
     float: left;
     text-indent: -9999px;
     display: none;
}
.social-item {
    width: 42px;
    height: 42px;
} 
.social__icons-link {
	background-color:rgba(255,255,255,0.7);
	background-image:url(../img/social.png);
	background-repeat:no-repeat;
	display:block;
	cursor:pointer;
    width: 42px;
    height: 42px;
}
.fb {
  background-position: -5px -3px;
  &:hover {
    background-position: -48px -3px;
  }
}
.tw {
  background-position: -5px -107px;
  &:hover {
    background-position: -48px -107px;
  }
}
.vk {
  background-position: -5px -159px;
  &:hover {
    background-position: -48px -159px;
  }
}
.lang-en {
  display: none;
}
.fb, .tw, .vk {
  &:focus{
    outline: none;
  }
}
