.formwrapper{
   height: 150px;
   max-width: 220px;
   background-color: #f1f1f5;
   padding: 0 20px;
   position: relative;
   margin-bottom: 22px;
}

.form__group{
   max-width: 220px;
   background-color: #f1f1f5;
}

.formwrapper.devider:after { 
  top: 157px;
}
.formwrapper.devider:before { 
  top: 151px;
}

.label{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 46, 54, 65 );
  margin-bottom:10px;
}

.input {
  height: 27px;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  width: 100%;
  background-color: #f1f1f5;
  box-sizing:border-box;
  font-size: 12px;
  color: rgb( 158, 178, 192 );
  line-height: 14px;
  font-family: "segoeuil";
  text-indent: 5px;
  padding: 0;
  @include placecolor(#a4b7c4);
  margin-bottom: 21px;
  margin-top: 5px;
  padding-right:50px;
}

.form__group-wrapper{
 position: relative;
}

.label__fileupload{
    position: absolute;
    height: 27px;
    display: block;
    cursor: pointer;
    width: 220px;
    right: 0px;
    bottom: 21px;

  &:after{
    content:'';
    position:absolute;
    height:27px;
    width:39px;
    right:0;
    border-radius: 0 3px 3px 0;
    background: url(../img/uploadfile.png) center center no-repeat;
    background-color: #f97e76;   
  }
}

.fileupload{
  position: absolute;
  top: 0;
  left: -9999px;
}
