$controls-map: sprite-map('controls/*.png', $spacing: 10px);

.aside__positioning_wrap {
	position: relative;
	.info__text {
		margin-bottom: 32px;
	}
}

.aside__positioning_wrap.devider:after {
	top: 190px;
}
.aside__positioning_wrap.devider:before {
	top: 184px;
}

.aside__positioning {
	width: 220px;
	margin: auto;
	margin-bottom: 52px;
}

.positioning_container {
	@include clearfix;
}

.position__form-list {
	position: absolute;
	top: 0;
	right: 10px;
}

.positio__form-item {
	margin-left: 7px;
	&:first-child {
		margin-left: 0;
	}
}

.postion__form-link{
	display: block;
}

.positio__form-item.active .postion__form-oneoff {
	@include get-sprite($controls-map,oneoff-hover);
}
.positio__form-item.active .postion__form-tileoff {
	@include get-sprite($controls-map,tileoff-hover);
}

.postion__form-oneoff {
	@include get-sprite($controls-map,oneoff);
			&:hover {
				@include get-sprite($controls-map,oneoff-hover);
			}
}
.postion__form-tileoff {
	@include get-sprite($controls-map,tileoff);
			&:hover {
				@include get-sprite($controls-map,tileoff-hover);
			}
}

.positio__form-item {
	display: inline-block;

}

.positioning__table {
	float: left;
	display: block;
	overflow: hidden;
	border-radius: 3px;
}

.table__cell {
	border: 1px solid #9eb2c0;
	background: #dbe1e8;

	&:hover {
		background: #f97e76;
	}

	&.active {
		background: #f97e76;
	}
}

.table__link {
	display: block;
	width: 32.5px;
	height: 32.5px;

	&:focus {
		outline: none;
	}	
}

.positioning__controls-list {
	float: right;
}

.positioning__controls-item {
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0px;
	}
}

.controls__label {
	font-size: 16px;
	color: rgb(46, 54, 65);
	margin-right: 6px;
}

.controls__input {
	width: 46px;
	height: 45px;
	box-sizing: border-box;
	border: 1px solid #9eb2c0;
	border-radius: 3px;
	text-align: center;
	font-size: 24px;
	color: rgb(68, 74, 83);
	background: #f1f1f5;
	margin-left: 4px;
}

$arrows: ((up, up-hover), (down, down-hover));

@each $arrow, $hover in $arrows {
	.ui-spinner-#{$arrow} {

		.ui-icon {

			@include get-sprite($controls-map, $arrow);
			margin-bottom: 22px;
			&:hover {
				@include get-sprite($controls-map, $hover);
			}

		}
		
	}
}

.ui-spinner-input {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ui-spinner {
	background: none;

	.ui-icon {
		margin-top: -3px;
		cursor: pointer;
	}

	.ui-spinner-up {
		top: 4px;
	}

	.ui-spinner-down {
		bottom: 5px;
	}
}

.ui-spinner-button {
	border: none !important;
	background: none !important;
	height: 8px !important;
    width: 13px !important;
    box-shadow: none !important;
    overflow: visible !important;

    &:hover {
    	background: none !important;
    }
}

.ui-spinner-down {
    bottom: 7px;
}

.ui-button-text {
	padding: 4px 7px !important;
}